@import 'cai-mac-dinh.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Phan dau trang*/

.khung-dau-trang {
    position:fixed;
    height: 80px;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
   background-color: #fff;
}

.dau-trang{
    display: flex;
    align-items:center; 
    height: 80px;
    margin-right: 40px;
    margin-left:  40px; 
}
.dau-trang-logo-hang{
    flex: 0.2;
}
.dau-trang-logo-hang img {
  
    width: 70px;
    height: 40px;
    margin-top: 20px;
      
}
.dau-trang-doi-tuong{
    flex: 4;
    margin-top: 20px;
    margin-left: 40px;
}

.dau-trang-tung-doi-tuong {
   
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 40px;
    font-weight: 700;
    cursor: pointer;
    
    
}
.dau-trang-tung-doi-tuong a{
    text-decoration: none;
    color:  #6c757b;
   
}

.dau-trang-tung-doi-tuong a:hover, a.trang-hien-tai{
    color: #000;
    transition: .5s;
}

.dau-trang-tim-kiem {
    flex: 2;
    font-weight: 500;
    background-color: #f6f6f6;
    border-radius: 1.6rem;
    height: 4.0rem;
    margin-top: 20px;
    position: absolute;
    right: 224px;
}

.nut-tim-kiem {
    background-color: #f6f6f6;
    border-radius: 1.6rem;
    margin-left: 10px;
    color: #646c74;
    border: none;
}

.nhap-tim-kiem {
    margin-top: 10px;
    font-size: 1.4rem;
    margin-left: 10px;
    background-color: #f6f6f6;
    outline: none;
    border: none;
    color: #4a5051;
}
.dau-trang-bieu-tuong{
    float: right;
    flex: 1.5;
    margin-top: 20px;
    position: absolute;
    right: 56px;
    
    
   
}

.bieu-tuong {
   
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 24px;
    
}

.duong-dan-bieu-tuong {
    color: rgba(0, 0, 0, 0.801);
}

#dem-san-pham-trong-gio {
    background-color: #64b1bc;
    color: #fff;
    position: absolute;
    margin-top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    
}


.thanh-truot-doi-tuong{
    font-size: 24px;
    color: #000;
    float: left;
    margin-top:10px ;
    margin-right: 20px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#danh-sach-doi-tuong{
    display: none;
}


@media (min-width: 768px) and (max-width: 1024px){
    .dau-trang-logo-hang{
        flex: 0.2;
    }
    .dau-trang-logo-hang img{
        width: 70px;
        height: 40px;
        margin-top: 20px;
        
    }
    .dau-trang-doi-tuong{
        flex: 2;
        margin-top: 20px;
    }
    .dau-trang-tung-doi-tuong{
        font-size: 1.4rem;
        font-weight: 700;
        color:  #6c757b;
        cursor: pointer;
    }
    .dau-trang-tim-kiem {
        display: none;
    }
    .dau-trang-bieu-tuong{
        flex: 1;
       
    }
    
}

@media (max-width:767px){
    .thanh-truot-doi-tuong{
        display: block; 
    }
    .dau-trang-logo-hang{
        flex: 1;
    }
    .dau-trang-doi-tuong{
        position: fixed;
        width: 100%;
        height: 700px;
        z-index: 1000;
        background: #fff;
        top: 60px;
        right: 100%;
        text-align:left;
        transition: all 0.5s;
    }
    .dau-trang-tung-doi-tuong{
        display: block;
        margin: 20px 0px 40px 40px;
    }
    .dau-trang-tung-doi-tuong a:hover, a.trang-hien-tai{
        color: #000;
        transition: .5s;
    }
    #danh-sach-doi-tuong:checked ~ .dau-trang-doi-tuong{
        right: 0px;
    }
    .dau-trang-tim-kiem {
        display: none;
    }
    .dau-trang-bieu-tuong{
        flex: 1;
       
    }

}


/* giohang */

.bang-gio-hang{
    background-color: #f6f6f6;
   table-layout: fixed;
    position: absolute;
    border: 1px solid #c4c4ca;
    margin-right: 40px;
    right: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px; 
}

.bang-gio-hang thead{
    display: table;
}

.bang-gio-hang tbody{
    display: block;
    height: 340px;
    overflow:auto;
}

.bang-gio-hang tbody tr{
    display: table;
    table-layout: fixed;
}

.bang-gio-hang thead tr .bang-gio-hang-cot{
    background: #333f48;
    color: #e8e8ea;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    padding: 12px 16px;
    text-align:center;
    text-transform: uppercase;
    border-bottom: 1px solid #f6f6f6;
}


.bang-gio-hang .bang-gio-hang-cot .bang-gio-hang-cot-sp {
    width: 190px;
}

.bang-gio-hang .bang-gio-hang-cot .bang-gio-hang-cot-gia {
    width: 95px;
    font-size: 10px;
    font-weight: 500;
}

.bang-gio-hang .bang-gio-hang-cot .bang-gio-hang-cot-so-luong {
    width: 95px;
    font-size: 10px;
    font-weight: 500;
}

.bang-gio-hang  .bang-gio-hang-cot .bang-gio-hang-cot-tong-tien {
    width: 100px;
    font-size: 10px;
    font-weight: 500;
}

.bang-gio-hang .o-gio-hang-thong-tin-sp{
    display: flex;
    width: 190px;
}

.bang-gio-hang .o-gio-hang-anh-sp{
    margin-right: 12px;
    position: relative;
    width: 60px;
    min-width: 60px;
   
}

.bang-gio-hang .o-gio-hang-anh-sp img {
    max-width: 100%;
}

.bang-gio-hang  .o-gio-hang-ten-sp a {
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #77757f;
    margin-bottom: 13px;
}

.bang-gio-hang .o-gio-hang-ten-sp a:hover {
   color: #000;
   text-decoration: underline;
}

.bang-gio-hang  .o-gio-hang-kich-co-sp .xem-lua-chon .chu {
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
}

.gia-san-pham{
    margin-left: 16px;
}

.bang-gio-hang .o-gio-hang-so-luong-sp {
    display: flex;
    justify-content: center;  
}

.o-gio-hang-nhap-so-luong-sp {
    width: 25px;
    text-align: center;
    color: #333f48;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    border: none;
    margin-left: 10px;
    min-width: 26px;
    background-color:  #f9f9f9;
    outline: none;
}

.tong-gia{
    margin-left: 16px;
}

.nut-xoa{
   float: right;
   display: none;
   font-size: 7px;
   text-align: center;
   padding: 1px 1px;
   margin-right: 10px;
   border-radius: 100%;
   border: 1px solid #333f48;
}

.bang-gio-hang tbody tr:hover .nut-xoa{
    display: block;
}

.xem-gio-hang{
    width: 100%;
    background-color: #63b1bc;
    color: #fff;
    border: 1px solid  #c4c4ca;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}

#gio-hang-trong{
    display: none;
    width: 360px;
    padding: 0 20px;
    box-shadow: 0 0 32px rgb(0 0 0 / 10%), 0 0 16px rgb(0 0 0 / 10%);
    background-color: #fff;
    right: 40px;
    position: absolute;
    top: 100%;
    border: 1px solid #f6f6f6;
}

.anh-gio-hang-trong {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #333f48;
    line-height: 18px;
    height: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anh-gio-hang-trong img{
    display: block;
    width: 98px;
    height: 98px;
    margin: 16px auto;
}


/* bieu mau dang ky dang nhap */

#bieu-mau-dang-nhap{
    height: 800px;
    background: rgba(51,63,72,.34);
    position: relative;
    
}
#bieu-mau-dang-ky{
    height: 800px;
    background: rgba(51,63,72,.34);
    position: relative;
}

.khung-bieu-mau{
    width: 400px;
    height: 550px;
    background-color: #fff;
    border: 1px solid #d2d1d4;
    margin-left: 40%;
    margin-top: 2%;
    position: absolute;
}

.dau-bieu-mau{
    text-align: center;
    margin: 10px 40px;
    border-bottom: 1px solid #d2d1d4;
}

.dau-bieu-mau h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
   
}

.thong-tin-bieu-mau b{
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

.thong-tin-bieu-mau div{
    margin: 20px 40px;
    background: #f9f9f9;
    position: relative;
    border-bottom: 1px solid #d2d1d4;
}

.thong-tin-bieu-mau input{
    width: 100%;
}

.thong-tin-bieu-mau label {
    display: block;
    color: #77757f;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    left: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.hieu-ung{
    font-size: 11px !important;
    transform: translateY(-50%);
}

.nhap-thong-tin {
    width: 100%;
    background: #f9f9f9;
    height: 46px;
    border: none;
    color: #333f48;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 23px 16px 7px 16px;
    outline:none;
    cursor: pointer;
}

.khung-nut{
    background-color: #333f48;
    line-height: 46px;
    text-align: center;
    margin: 0px 20px 20px 20px;
}

.khung-nut .nut{
    width: 100%;
    background-color:#333f48;
    line-height: 46px;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 16px;
}

.chan-bieu-mau {
    margin: 0px 20px;
    font-weight: 500;
    font-size: 14px;
    color: #77757f;
}

.chan-bieu-mau a{
    font-weight: 600;
    font-size: 14px;
    color: #333f48;
    cursor: pointer;
}

/* quang cao home-page */

.khung-chay-quang-cao{
    margin: 80px 0px 0px 0px;
    margin: 80px 40px 0px 40px;
    overflow: hidden;
}

.chay-quang-cao-thu-cong{
    position:absolute;
    width: 97%;
    margin-top: 29%;
    display: flex;
    justify-content: center;
}

.nut-chuyen-quang-cao{
    border: 2px solid #fff;
    padding: 5px;
    margin-right: 24px;
    z-index: 1;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.nut-chuyen-quang-cao:hover{
    background-color: #fff;
}

#o-chon1:checked ~ .muc-quang-cao{
    transform: translate(0%, 0%);
}

#o-chon2:checked ~ .muc-quang-cao{
    transform: translate(-100%, 0%);
}
#o-chon3:checked ~ .muc-quang-cao{
    transform: translate(-200%, 0%);
}

.chay-quang-cao{
    width: 300%;
    display: flex;
}

.chay-quang-cao input{
    display:none;
}

.muc-quang-cao{
   transition: 2s;
}

.muc-quang-cao img{
    width: 100%;
   
}

.chay-quang-cao-tu-dong{
    position: absolute;
    width: 97%;
    margin-top: 29%;
    display: flex;
    justify-content: center;

}
.chay-quang-cao-tu-dong div{
    border: 2px solid #fff;
    padding: 5px;
    margin-right: 24px;
    border-radius: 10px;
    transition: 1s;
}

#o-chon1:checked ~ .chay-quang-cao-tu-dong .nut-tu-dong-1{
    background: #fff;
}
#o-chon2:checked ~ .chay-quang-cao-tu-dong .nut-tu-dong-2{
    background: #fff;
}
#o-chon3:checked ~ .chay-quang-cao-tu-dong .nut-tu-dong-3{
    background: #fff;
}

/* san pham gia tot*/
.tieu-de-1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    margin: 20px 0px 10px 40px;
}
.san-pham-gia-tot{
  
    margin: 0px 40px ;
}
.san-pham-gia-tot img{
    width: 100%;
    height: 100%;
}

/* san pham moi*/

.khung-muc-san-pham{
    margin: 0px 40px;
}
.tieu-de-2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.danh-sach-san-pham{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.the-san-pham{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.thong-tin-san-pham{
    display: block;
}
.anh-san-pham{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.anh-san-pham img{
    max-width: 100%;
    height: auto;
    display: block;
}

.thong-tin-chi-tiet-san-pham{
    padding: 10px 0px;
}
.thong-tin-chi-tiet-san-pham a{
    text-decoration: none;
    color: #333f48;
    padding: 2px 0px;
}
.loai-san-pham{
    font-size: 11px;
    font-weight: 300;
}
.ten-san-pham{
    color: #333f48;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.gia{
    color: #333f48;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

/*phan chan trang*/

.khung-chan-trang{
    background-color: #333f48;
    color: #fff;
    padding: 10px 40px 40px 40px;
}
.khung-chan-trang ul{
    list-style: none;
}
.khung-chan-trang h4{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 19px;
}
.khung-chan-trang li{
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.khung-chan-trang a{
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.duong-dan-tai-khoan-xa-hoi li{
    list-style: none;
}
.hang-chan-trang{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


